@using Umbraco.Cms.Web.Common.PublishedModels;
@using GiaiPhapLogistics.Models.Generated;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<GiaiPhapLogistics.Models.Generated.FrontPage>

@{
    Layout = "Master.cshtml";
}
<div class="banner">
    <div class="container h-full">
        <div class="d-flex flex-column justify-content-center h-full">
            <h1 class="text-white banner__title">Giải Pháp Logistics 24h (giaiphap24h)!</h1>
            <p class="text-white banner__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam suscipit neque, et explicabo autem qui soluta odio ipsa iste numquam harum laborum repellendus at ea eaque sequi, dolores fuga temporibus?
            </p>
        </div>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 py-5">
                <div class="company-info p-lg-4 p-2 d-flex align-items-center">
                    <i class="fal fa-user-headset color-secondary me-4"></i>
                    <div>
                        <p>Gọi chúng tôi bất cứ lúc nào</p>
                        <h6 class="color-primary">@Model.PhoneNumber</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 py-5">
                <div class="company-info p-lg-4 p-2 d-flex align-items-center">
                    <i class="fal fa-stopwatch color-secondary me-4"></i>
                    <div>
                        <p>Giờ làm việc</p>
                        <h6 class="color-primary">@Model.WorkingDay</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 py-5">
                <div class="company-info p-lg-4 p-2 d-flex">
                    <i class="fal fa-location color-secondary me-4"></i>
                    <div>
                        <p>Địa chỉ</p>
                        <h6 class="color-primary">@Model.Address</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Partials/components/GeneralBlockList.cshtml", Model.Blocks)



