<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e4026ec-1d82-46fe-92d9-bea8f8f39015" Alias="A1" Level="2">
  <Info>
    <Parent Key="8ce06de1-2f1b-4316-a1b9-8971a11dd4c6">Services</Parent>
    <Path>/Services/A1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T21:41:13</CreateDate>
    <NodeName Default="A1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3itea1uc/a1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>