<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7965a03-0b49-4af8-8419-73ea44707877" Alias="A2" Level="2">
  <Info>
    <Parent Key="8ce06de1-2f1b-4316-a1b9-8971a11dd4c6">Services</Parent>
    <Path>/Services/A2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T10:12:29</CreateDate>
    <NodeName Default="A2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/avnjnj0j/a2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>