<?xml version="1.0" encoding="utf-8"?>
<Media Key="0404c00e-189d-42ed-894d-850bfe6e0109" Alias="Logistic4" Level="2">
  <Info>
    <Parent Key="8ce06de1-2f1b-4316-a1b9-8971a11dd4c6">Services</Parent>
    <Path>/Services/Logistic4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-28T21:46:27</CreateDate>
    <NodeName Default="Logistic4" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bdaaibe3/logistic4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>