<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bfb98d8-48f7-4745-bcfe-de1efac2ad6e" Alias="logo" Level="2">
  <Info>
    <Parent Key="8e62c6a9-59e9-44a9-acbd-9ad1184bbf6d">Logo</Parent>
    <Path>/Logo/logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-24T16:47:41</CreateDate>
    <NodeName Default="logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/10mpwc5x/screenshot-2023-09-24-at-164737.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>