<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e62c6a9-59e9-44a9-acbd-9ad1184bbf6d" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-24T16:46:41</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>