<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9e143a7-7636-4e46-9968-7e768b6e1b27" Alias="Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Members</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-03T22:18:58</CreateDate>
    <NodeName Default="Members" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>