<?xml version="1.0" encoding="utf-8"?>
<Media Key="60c4e33c-a525-415a-9303-a4c9ba4ce731" Alias="Member3" Level="2">
  <Info>
    <Parent Key="b9e143a7-7636-4e46-9968-7e768b6e1b27">Members</Parent>
    <Path>/Members/Member3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T22:19:10</CreateDate>
    <NodeName Default="Member3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlrniybf/member3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>