<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad8000c6-3309-40ee-85de-ebd0dc47528b" Alias="Memer2" Level="2">
  <Info>
    <Parent Key="b9e143a7-7636-4e46-9968-7e768b6e1b27">Members</Parent>
    <Path>/Members/Memer2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T22:19:07</CreateDate>
    <NodeName Default="Memer2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yaaiblij/memer2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>