<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ce06de1-2f1b-4316-a1b9-8971a11dd4c6" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-27T16:02:39</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>