@using Umbraco.Cms.Core.Models.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem>

<section id="contact-form" class="bg-primary">
    <div class="container">
        <div class="row rounded overflow-hidden">
            <div class="col-xl-5 bg-white p-0 d-flex align-items-center">
                <img class="d-block w-full object-fit-cover" src="/images/contact.png" />
            </div>
            <div class="col-xl-7 bg-white">
                <form class="p-5">
                    <h2 class="fw-bold">Liên hệ với chúng tôi</h2>
                    <p class="mb-4">Điền thông tin của bạn vào form bên dưới để liên hệ với chúng tôi </p>
                    <div class="mb-3">
                        <label for="name" class="form-label">Tên của bạn</label>
                        <input type="text" class="form-control" placeholder="Nhập tên của bạn" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Nhập email của bạn" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" placeholder="Nhập số điện thoại của bạn" id="phoneNumber">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Lời nhắn</label>
                        <textarea rows="4" type="text" class="form-control" placeholder="Nhập lời nhắn của bạn" id="message"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn bg-secondary text-white mt-3 col-lg-4 col-12">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>