@using Umbraco.Cms.Core.Models.Blocks;
@using GiaiPhapLogistics.Models.Generated
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem>

@if (Model is not null)
 {
    var content = (MemberBlockList)Model.Content;
    <section id="members">
        <div class="container">
            <div class="row g-4 justify-content-center">
                <div class="col-12 mb-5">
                    <h6 class="page-subtitle">Thành viên sáng lập</h6>
                    <h2 class="page-title">Chúng tôi gồm những ai</h2>
                </div>
                @if (content.Members is not null && content.Members.Any())
                   {
                    @foreach (var item in content.Members)
                    {
                        var card = (MemberCard)item.Content;
                        <div class="col-lg-3 col-md-4">
                            <div class="shadow card member-card border-0 h-full rounded overflow-hidden">
                                <img class="card-image-top" alt="@card.Image?.Name" src="@card.Image?.Url()" />
                                <div class="card-body">
                                    <h5 class="card-title text-center mt-3 my-2">@card.MemberName</h5>
                                    <p class="card-text text-center mb-3">@card.Title</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
 }